@import url('https://fonts.googleapis.com/css2?family=Galada&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.home{
    width: 100vw;
    min-height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

.main-bg{
width: 100vw;
height: 100vh;
    background: #2F1F14;
    position: absolute;
    z-index: -1000;

}

.logo{
    width: 200px;
    height: 200px;
    margin-left: -50px;
}

.logo img{
    width: 350px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 20px 200px;
    align-items: center;
}

.nav-ul{
    display: flex;
    background: #6F4436;
    border-radius: 10px;
}

.nav-ul li{
    list-style: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 0.7rem 1.7rem;
    border-radius: 10px;
}


.nav-ul li:hover{
    background: rgb(255, 255, 255);
    color: #6F4436;
}

.text-content{
    margin-left: 250px;
    margin-top: 80px;
    color:#fff;
}

.text-content h3{
    font-family: "Galada", cursive;
    font-weight: 400;
    font-size: 4.2rem;
}

.text-content p{
        font-family: "Pompiere", sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
}